@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Xác thực email Email</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/tomi.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    @if (ViewBag.ThongBao != null)
    {
        <script>
        alert("@Html.Raw(@ViewBag.ThongBao)")
        </script>
    }

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)

                    <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">

                        <span class="login100-form-title" style="background-color: #f24137; position: inherit; margin-bottom: 55px; ">
                            Xác nhận Email
                        </span>


                        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                            <input class="input100" type="text" name="Email" id="your_name" placeholder="Enter email" />
                            <span style="color: red;">@ViewData["err1"]</span>

                            <span class="focus-input100"></span>
                        </div>

                        
           
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="submit" style="background-color: #f24137;width:100%">
                                Send to email
                            </button>
                        </div>

                        <div class="flex-col-c p-t-170 p-b-40" style="padding-top: 75px;">
                           
                        </div>




                    </form>

                }

            </div>
        </div>
    </div>









    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/js/main.js"></script>

</body>
</html>