
@{
    ViewBag.Title = "PaymentConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="product">
    <div class="container">
        <div class="bg-white " style="height:800px">


            <h2 style="color:red">@ViewBag.Message</h2>

        </div>
    </div>
</section>
